body {
  background-color: #d3d3d3;
  color: black;
    }

button {
  color: black;
  
}

.info{
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  height: 100vh; 
}

footer{
  display: flex; 
  border: 2px solidBlack;
}

