body {
  background-color: #d3d3d3;
  color: black;
    }

#myButton {
  color: black;
}

#infoBox {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  height: 100vh; 
}
